@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,400,600,700,800");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

:root {
  --color-primary: #f4bf03;
  --color-secondary: #258d22;
}

.btn-primary {
  color: #fff;
  background-color: #05338b;
  border-color: #03276b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #3c4647;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}

h1,
.h1 {
  font-size: 1.602rem;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

h3,
.h3 {
  font-size: 0.9rem;
  color: #262626;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 0.85rem;
  color: #262626;
  margin-bottom: 5px;
}

h5,
.h5 {
  font-size: 0.7rem;
  color: #ffa600;
  font-weight: 500;
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: 0.889rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #262626;
}

p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #8c8c9e;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 0px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #eec344;
  text-decoration: none;
}

/* global */
.banner-pattern {
  height: 10px;
  background: url("../img/stripe.png");
  z-index: 9999999;
  width: 100%;
}

/* slider */
.home-slider {
  width: 100%;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.3;
}

.carousel-item .container {
  margin: 0rem auto;
}

.slider-caption {
  position: absolute;
  top: 40%;
  text-align: left;
}

.slider-caption h2 {
  font-weight: 400;
  font-style: italic;
}

.slider-caption span {
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

.display-4 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.2;
}

.lead {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 80%;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* ===============  our pillars carousel =================== */

.our-pillars-grid-carousel-container {
  overflow: hidden;
}

.our-pillars-grid-carousel-container .banner-pattern {
  margin-top: -17px;
}

.our-pillars-grid-layer {
  position: relative;
  cursor: pointer;
}

.gl-thumbnail img {
  width: 100%;
}

.gl-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: 0.5s ease;
  background-color: #258d22;
  z-index: 1;
}

.our-pillars-grid-layer:hover .gl-overlay {
  opacity: 0.4;
  background-color: #f4bf03;
}

.gl-overlay-alt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.our-pillars-grid-layer:hover .gl-overlay-alt {
  opacity: 0.7;
  background-color: #000;
}

.our-pillars-grid-layer .gl-caption {
  position: absolute;
  bottom: 0;
  padding: 30px;
  z-index: 2;
  text-align: left;
}

.our-pillars-grid-layer .gl-caption h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.our-pillars-grid-layer .gl-caption p {
  color: rgb(255, 255, 255);
}

.layer-counter {
  position: relative;
  background-color: var(--color-secondary);
  height: 339px;
}

.our-pillars {
  position: absolute;
  text-align: center;
  padding: 130px 10px;
}

.our-pillars h2 {
  font-size: 2rem !important;
  font-family: "Poppins", sans-serif;
}
