@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6f7380;
  overflow-x: hidden;
}

.btn-readmore,
.btn-readmore:hover {
  -webkit-box-shadow: 0px 7px 13px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 13px 0px rgb(0 0 0 / 10%);
  background: linear-gradient(
    165deg,
    rgba(254, 250, 177, 1) 0%,
    rgba(240, 218, 91, 1) 40%
  );
  padding: 15px;
  border-radius: 10px;
  color: rgb(24, 24, 24);
}

:root {
  --color-primary: #f4bf03;
  --color-secondary: #258d22;
}

.btn-primary {
  color: #fff;
  background-color: #05338b;
  border-color: #03276b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #3c4647;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-family: "Roboto Slab", sans-serif;
}

h1,
.h1 {
  font-size: 1.602rem;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

h3,
.h3 {
  font-size: 0.9rem;
  color: #262626;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 0.85rem;
  color: #262626;
  margin-bottom: 5px;
}

h5,
.h5 {
  font-size: 0.7rem;
  color: #ffa600;
  font-weight: 500;
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: 0.889rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #262626;
}

p {
  font-size: 15px;
  font-family: "Archivo", sans-serif;
  color: #8c8c9e;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 0px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #eec344;
  text-decoration: none !important;
}

.border-right {
  border-right: 1px solid rgb(218, 218, 218);
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
  margin-bottom: 0px;
}

.banner-pattern {
  height: 8px;
  background: url("../img/pattern.svg");
  z-index: 9999999;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.decoration-none {
  text-decoration: none;
}

.active {
  color: #eec344;
}
.pages-title {
  position: absolute;
  bottom: 30px;
  color: #fff;
}

.pages-title span {
  font-weight: 700;
  font-size: 2rem;
}

.pages-title h1 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.pages-title p {
  color: #fff;
}

.sections {
  background-image: url("https://images.unsplash.com/photo-1593896385987-16bcbf9451e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1597&q=80");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sections:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #258d22, #eec344);
  opacity: 0.5;
}

.sections .container {
  margin: 0px auto;
}

.card-title {
  font-size: 2em;
}

.main-color {
  color: var(--color-secondary);
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.border-radius {
  border-radius: 10px;
}

.display-none {
  display: none;
}

.bottom-line {
  background: -webkit-linear-gradient(
    left,
    rgba(54, 242, 227, 1) 0%,
    rgba(249, 249, 249, 0) 100%
  );
}
h2.headings-bottom-line {
  position: relative;
  z-index: 1;
}

h2.headings-bottom-line::before {
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 98%;
  border-radius: 30px;
  height: 10px;
  z-index: -1;
  background: -webkit-linear-gradient(
    left,
    rgba(37, 141, 34, 0.7) 0%,
    rgba(255, 166, 0, 0) 100%
  );
}

/* preloader */
#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  background-color: #f2f2f2;
}

#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: "";
  border-radius: 50%;
  height: 65px;
  width: 65px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #f4bf03 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #258d22 0 0 0 2px;
  }
  100% {
    box-shadow: inset #f4bf03 0 0 0 17px;
    transform: rotate(140deg);
  }
}

/* top header */
.top-header {
  background-color: #258d22;
  height: 53px;
  width: 100%;
  clear: both;
  position: fixed;
  top: 0;
  z-index: 99;
}

.ht-right-social i {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20%;
  color: #258d22;
}

.top-header .container {
  padding: 0px;
}

.top-header p {
  color: #fff;
}

.header-left {
  float: left;
  margin-bottom: 5px;
  background-color: #f4bf03;
  width: 680px;
  margin-left: -450px;
  text-align: right;
  padding: 11px 20px 12px 0px;
}

.header-left strong {
  font-weight: 600;
}

.header-right {
  float: right;
  padding: 5px 0px;
}

.ht-right-social {
  display: inline-block;
  margin-right: 15px;
}

header {
  position: relative;
  height: 100%;
  z-index: 100;
}

header .container {
  margin: auto;
}

/* slider */
.home-slider {
  width: 100%;
  padding-top: 120px;
}

.carousel-item {
  height: 95vh;
  min-height: 300px;
  /* background: no-repeat center center scroll; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.3;
}

.carousel-item .container {
  margin: 0rem auto;
}

.slider-caption {
  position: absolute;
  top: 35%;
  text-align: left;
  background-color: rgba(54, 54, 54, 0.637);
  padding: 20px;
  border-radius: 10px;
}

.slider-caption h2 {
  font-weight: 400;
  font-style: italic;
}

.slider-caption span {
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

.display-4 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.2;
}

.lead {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 80%;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* ===============  our pillars carousel =================== */

.our-pillars-grid-carousel-container {
  overflow: hidden;
}

.our-pillars-grid-carousel-container .banner-pattern {
  margin-top: -17px;
}

.our-pillars-grid-layer {
  position: relative;
  cursor: pointer;
}

.gl-thumbnail img {
  width: 100%;
}

.gl-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: 0.5s ease;
  background-color: #258d22;
  z-index: 1;
}

.our-pillars-grid-layer:hover .gl-overlay {
  opacity: 0.4;
  background-color: #f4bf03;
}

.gl-overlay-alt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.our-pillars-grid-layer:hover .gl-overlay-alt {
  opacity: 0.7;
  background-color: #000;
}

.our-pillars-grid-layer .gl-caption {
  position: absolute;
  bottom: 0;
  padding: 30px;
  z-index: 2;
  text-align: left;
}

.our-pillars-grid-layer .gl-caption h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.our-pillars-grid-layer .gl-caption p {
  color: rgb(255, 255, 255);
}

.layer-counter {
  position: relative;
  background-color: var(--color-secondary);
  height: 339px;
}

.our-pillars {
  position: absolute;
  text-align: center;
  padding: 130px 10px;
}

.our-pillars h2 {
  font-size: 2rem !important;
}

/* about us */

.about-us-content p {
  font-size: 15px;
  color: #838391;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 15px;
}

.about-us-content h2 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
}

.about-us-img img {
  width: 420px;
  height: 420px;
  object-fit: contain;
  object-position: center;
}

/* mission and vision */
.mission-vision {
  padding: 40px;
}

.mission-vision p {
  color: #626262;
}

.mission-vision-icon i {
  border-radius: 50%;
  color: var(--color-secondary);
  font-size: 3em;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: #fff;
  margin-bottom: 20px;
  border: 0.1px solid #e9e9e9;
}

.mission-vision-icon i:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.replaced-svg-bottom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.08;
  margin-top: -227px;
}

.replaced-svg-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.08;
  margin-bottom: -220px;
  transform: rotate(180deg);
}
/* our values  */
.our-values-box {
  padding: 30px 25px 35px;
  transition: 0.3s;
  cursor: pointer;
  height: 330px;
}

.our-values-box h4 {
  margin: 20px 0px 10px;
  transition: 0.3s;
  font-weight: 600;
}

.our-values-box p {
  font-size: 14px;
  line-height: 1.8;
  transition: 0.3s;
}

.our-values-box:hover {
  background-color: #258d22;
}

.our-values-box:hover .values-icon {
  display: none;
}

.our-values-box:hover .our-values-icon-hover {
  display: inherit;
}

.our-values-box:hover h4 {
  color: #fff;
}

.our-values-box:hover p {
  color: #fff;
}

.our-values-icon i {
  padding: 15px;
  border-radius: 50%;
  color: var(--color-secondary);
  font-size: 2.8em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 0.1px solid #e9e9e9;
}

/*====================================================
footer
  ====================================================*/
footer {
  padding: 3rem 0rem;
  margin-top: -7px;
}
footer hr.divider {
  margin: 30px auto 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-col hr.divider {
  margin: 20px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.fb-social {
  float: right;
  color: #fff;
  font-size: 15px;
}

.span-fb-social {
  display: inline-block;
  margin-right: 20px;
}

.span-fb-social i {
  background-color: #258d22;
  padding: 10px;
  border-radius: 20%;
}

.fb-copyright p {
  color: #fff;
}

/*====================================================
    TEAM.
  ====================================================*/
.team-portrait {
  position: relative;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}

.tp-headshot img {
  border-radius: 20px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.tp-caption {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  transition: 0.3s;
  padding: 0px 20px;
}

.inner-tp-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px 10px;
  text-align: center;
}

.inner-tp-caption h3 {
  margin-bottom: 0px;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
}
.inner-tp-caption p {
  color: rgb(241, 237, 237);
}
.team-portrait:hover .tp-caption {
  transition: 0.3s;
  bottom: 10px;
}

.team-portrait .tp-social {
  display: none;
  transition: 0.3s;
}

.tp-social .social-icon {
  display: inline-block;
  margin: 0px 5px;
}

.tp-social .social-icon .fa {
  color: var(--color-primary);
  transition: 0.3s;
  font-size: 1em;
}

.tp-social .social-icon .fa:hover {
  color: var(--color-secondary);
}

.team-portrait:hover .inner-tp-caption {
  text-align: center;
}

.team-portrait:hover .tp-social {
  display: inherit;
}

.image-hover .tp-headshot {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-hover .tp-headshot:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover-effects-zoom-in .tp-headshot img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-effects-zoom-in .tp-headshot:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tp-desktop-view {
  margin-top: 2rem;
}

/* our pillars page */

.pillars-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  border-radius: 5px;
  margin-top: 40px;
}

.pillars-thumbnail img {
  width: 100%;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.pillars-short-desc {
  background-color: rgb(255, 255, 255);
  padding: 1.1rem 1.1rem 1.5rem;
}

.pillars-short-desc h3 {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.pillars-short-desc p {
  line-height: 1.8;
}

.pillars-short-desc a {
  text-decoration: none;
  color: #258d22;
  transition: 0.3s;
}

.pillars-short-desc a:hover {
  color: #f4bf03;
}

.pillars-short-desc a:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-width: 0 0 2px;
  border-style: solid;
}

.image-hover .pillars-thumbnail {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-hover .pillars-thumbnail:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover-effects-zoom-in .pillars-thumbnail img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-effects-zoom-in .pillars-thumbnail:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* contact us page */
.contact-info h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}

.contact-info h2:after {
  background-color: var(--color-secondary);
  content: "";
  display: block;
  height: 3px;
  margin: 15px 0px;
  width: 80px;
}

.contact-list-info {
  clear: both;
  margin: 1rem 0rem;
}

.contact-list-info p {
  padding-top: 1px;
}

.contact-icon {
  float: left;
  margin-right: 11px;
}

.contact-icon .fa {
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.contact-us-form .form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.contact-us-form .form-group input::placeholder,
.contact-us-form .form-group textarea::placeholder {
  color: rgb(155, 153, 153);
  font-size: 15px;
}

.contact-us-form .form-group input:focus,
.contact-us-form .form-group textarea:focus,
.contact-us-form .form-group input:hover,
.contact-us-form
  .form-group
  textarea:hover
  .contact-us-form
  .form-group
  input:active,
.contact-us-form .form-group textarea:active {
  border: 1px solid var(--color-secondary);
  outline: none;
  box-shadow: none;
}
